<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfgMsPsfhUDiT-_pRkTAnpec7xLt3hZ4U</string>
	<key>GCM_SENDER_ID</key>
	<string>921987569834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.lamaisoncafe2</string>
	<key>PROJECT_ID</key>
	<string>la-maison-cafe-2-38rmfl</string>
	<key>STORAGE_BUCKET</key>
	<string>la-maison-cafe-2-38rmfl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921987569834:ios:25b759a4eb66fe269818d3</string>
</dict>
</plist>